body {
    padding-left: 1%;
    width: 90%;
    background-color: #777;
    color: #fff;
}

.section {
    margin-top: 0.5%;
    border-radius: 20px;
    background-color: #111;
    width: 90%;
    padding: 2%;
}

main {
    padding-top: 3%;
    padding-left: 1%;
}

.label {
    float: left;
    font-size: 2em;
    padding: 1% 5% 0% 0.2%;
    font-family: Optima, Tahoma, Geneva, sans-serif;
    color: #aaa;
}

#controls:after {
    content: " ";
    display: table;
    clear: both;
}

webaudio-knob {
    float: left;
    padding-right: 2%;
}

#gfx {
    margin: 2px;
    border: 2px solid #999;
    border-radius: 150px;
    background-color: #000;
    float: right;
    position: absolute;
    top: 4%;
    left: 78%;
}
